.section{
    padding: 15px 0;
}
.section__main{
    padding: 325px 0 70px;
}
.section__principal{
    margin-bottom: 140px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    align-items: center;
    justify-content: center;
}


.section__title{
    color: #ffffff;
    font-size: 25px; 
}

.section__services-card{
    height: 300px;
    width: 210px;
    background-color: lavender;
    border-radius: 10px;
    position: relative;
    margin-top: 20px;
}
.section__services-img{
    object-fit: cover;
    height: 100%;
    border-radius: 10px;
}
.section__services-resume{
    position: absolute;
    display: flex;
    flex-direction: column;
}
.section__services-resume > *{
    color: #ffffff;
}
.section__services-title{
    font-weight: bolder;
    margin-bottom: 20px;
}
.section__services-desc{
    margin-top: 15px;
}

.section__services-carousel{
    display: grid;
    grid-template-columns: repeat(4 , 1fr);
    gap: 30px;
    overflow-y: hidden;
    overflow-x: scroll;

    height: 530px;
}



 

@media (max-width: 850px) {
    .section__principal {
      grid-template-columns: 1fr;
    }
    .section__services-card{
        height: 312px;
        width: 241px;
    }
}