.custom-shape-divider-top-1600216751 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1600216751 svg {
    position: relative;
    display: block;
    width: calc(123% + 1.3px);
    height: 86px;
    transform: rotateY(180deg);
}

.custom-shape-divider-top-1600216751 .shape-fill {
    fill: #151515;
}