.navbar__burger {
    cursor: pointer;
    border-bottom-left-radius:40px;
    background: transparent;
    padding: 20px 0;
    border: 0;
    outline: none;
  }
  
  .lines {
    display: inline-block;
    width: 2.5rem;
    height: 0.3571428571rem;
    background: #ffffff;
    -webkit-transition: 0.35s;
    -moz-transition: 0.35s;
    -ms-transition: 0.35s;
    transition: 0.35s;
    position: relative;
    background: transparent; 
}
.lines:before, .lines:after {
    display: inline-block;
    width: 1.9rem;
    height: 0.1rem;
    background: #ffffff;
    -webkit-transition: 0.35s;
    -moz-transition: 0.35s;
    -ms-transition: 0.35s;
    transition: 0.35s;
    position: absolute;
    left: 0;
    content: '';
    -webkit-transform-origin: 0.1785714286rem center;
    -moz-transform-origin: 0.1785714286rem center;
    -ms-transform-origin: 0.1785714286rem center;
    transform-origin: 0.1785714286rem center;
}

.lines:before {
    top: 0.21rem;
    }
    .lines:after {
    top: -0.21rem;
    }
.navbar__burger  .lines:before, .navbar__burger  .lines:after {
    -webkit-transform-origin: 44% 50%;
    -moz-transform-origin: 44% 50%;
    -ms-transform-origin: 44% 50%;
    transform-origin: 44% 50%;
    transition: top 0.3s 0.1s ease, transform 0.3s ease;
}
.navbar__burger.close .lines {
    -webkit-transform: rotate3d(0, 0, 1, 90deg);
    -moz-transform: rotate3d(0, 0, 1, 90deg);
    -ms-transform: rotate3d(0, 0, 1, 90deg);
    transform: rotate3d(0, 0, 1, 90deg);
}
.navbar__burger.close .lines:before, .navbar__burger .close .lines:after {
    -webkit-transition: top 0.3s ease, transform 0.3s 0.1s ease;
    -moz-transition: top 0.3s ease, transform 0.3s 0.1s ease;
    -ms-transition: top 0.3s ease, transform 0.3s 0.1s ease;
    transition: top 0.3s ease, transform 0.3s 0.1s ease;
    top: 0;
}
.navbar__burger.close .lines:before {
    -webkit-transform: rotate3d(0, 0, 1, -45deg);
    -moz-transform: rotate3d(0, 0, 1, -45deg);
    -ms-transform: rotate3d(0, 0, 1, -45deg);
    transform: rotate3d(0, 0, 1, -45deg);
    background: #ffffff;
}
.navbar__burger.close .lines:after {
    -webkit-transform: rotate3d(0, 0, 1, 45deg);
    -moz-transform: rotate3d(0, 0, 1, 45deg);
    -ms-transform: rotate3d(0, 0, 1, 45deg);
    transform: rotate3d(0, 0, 1, 45deg);
    background: #ffffff;
}

 